<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    
       <add connectionString="Data Source=(LocalDb)\MSSQLLocalDb;Initial Catalog=PractiseManagementSystemProject_kta;Integrated Security=True" name="dbConnString" />
    
   </connectionStrings>
  
</configuration>